{% extends "base.html" %}
{% block content %}
{% load static %}

<h1>Notes:</h1>

{% if categories %}
{% for category in categories %}
<a href="{% url 'category' category.pk %}" class="text-dark">{{ category.name }}</a>
{% endfor %}
<a href="{% url 'notes' %}" class="text-dark">All categories</a>
<a href="{% url 'category-new' %}" class="text-dark">New category</a>
{% endif %}

<hr>
<p>Filter: {{ single_category.name }}</p>
<div class="row">
  {% if single_category %}
  {% for note in single_category.notes.all %}
  <div class="card border-warning mb-3 m-3" style="max-width: 18rem;">
    <div class="card-body">
      <h5 class="card-title">
        <a href="{% url 'note' note.pk %}" class="text-dark"> {{ note.title }} </a>
      </h5>
      {% if note.image %}
      <a href="{% url 'note' note.pk %}">
        <img src="{{note.image.url}}" class="card-img-top" alt="...">
      </a>
      {% endif %}
      <a href="{% url 'note' note.pk %}" class="text-dark" >{{ note.text|truncatewords:20 }}</a>
    </div>
    <div class="card-footer bg-transparent border-warning text-right">
      <small class="text-muted">
        <a href="#" class="text-dark">{{ note.category.name }}</a>
      </small>
    </div>
  </div>
  {% endfor %}
</div>
  {% else %}
  <p>There is no notes in our page, sorry :(.</p>
  {% endif %}
{% endblock %}
